@media screen and (max-width: 1024px) {
    .nav-links{
        width: 70%;
    }
    .nav-links a{
        font-size: 16px;
    }

    /* .wwd_boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 35%;
    } */
}

@media screen and (max-width: 769) {
    
}

@media screen and (max-width: 768px) {
    .container{
        width: 91%;
        margin: 0 auto;
    }

    

    .nav-links li{
        opacity: 0;
    }

    

     .nav-links a{
        color: #f7f7fc;
        font-size: 22px;
        margin: 10px;
        padding: 0 20px;
        border-radius: 20px;
    
    }
     .nav-links a:hover{
        background: rgb(253, 244, 247);
        color: rgb(22, 20, 20);
    }


    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .scrollToTop-btn.active{
        right: 33%;
    }

    .nav-active{
        transform: translateX(0%);
    }

    .banner{
        min-height: 700px;
    }

    .banner-text{
        padding-top: 160px;
    }

    .banner-text h1{
        font-size: 46px;
    }
    .banner-text p{
        font-size: 18px;
    }
    .buuttons{
        width: 238px;
    }
    .buuttons a{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    

    .wwd_box h3 {
        font-size: 17px;
    }

    .wwd_box p{
        font-size: 13px;
    }
}

@media screen and (max-width: 425px) {
    .banner-text h1{
        font-size: 35px;
        line-height: 50px;
    }
    .banner-text p{
        font-size: 17px;
    }

    .btn{
        padding: 10px 20px;
        font-size: 16px;
    }
    .btn-dark{
        padding: 10px 20px;
        font-size: 16px;
    }
    .btn-light{
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 560px) {
    .none{
        display: none;
    }
    .block{
        display: block;
        height: 160px;
    }

}



